/*Simple selector*/
h1{
    margin: auto;
    text-align: center;
    width: 25%;
    color: rgb(233, 52, 20);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
ul{
    text-align: center;
}
body{
    background-color: rgb(190, 189, 189);
}
/*class selector*/
.MenuStyling{
    text-align: center;
    margin-top: 10px;
    padding: 10px;
    display: inline-block;
    vertical-align: middle;
    border-radius: 10px; /*use for smooth border*/
    width: 20%;
    height: 100px;
    background-color: indianred;
    border: 2px solid peru;
}
.MenuStyling:active{
    background-color: grey;
}
/*id selector*/
#helpdesk{
    position: absolute;
    top: 5px;
    right: 5px;
    color: royalblue;
    background-color: powderblue;
    border-radius: 5px;
}
/*Descendent Selector*/
.MenuStyling p{
    color: rgb(65, 64, 64);
    font-size: 14px;
    font-style: italic;
}
.LoanStyling:active{
    background-color: khaki;
}
.LoanStyling{
    text-align: center;
    margin-top: 10px;
    padding: 10px;
    display: inline-block;
    vertical-align: middle;
    border-radius: 10px; /*use for smooth border*/
    width: 20%;
    height: 200px;
    background-color: rgb(61, 233, 99);
    border: 2px solid peru;
}
/*Child selector*/
.LoanStyling > p{
    color: rgb(226, 65, 37);
}
/*Adjacent sibling selector*/
#LoanType + p{
    color: green;
}
.InvestmentStyling{
    text-align: center;
    margin-top: 10px;
    padding: 10px;
    display: inline-block;
    vertical-align: middle;
    border-radius: 10px;  /*use for smooth border*/
    width: 20%;
    height: 180px;
    background-color: rgb(233, 95, 169);
    border: 2px solid peru;
}
.InvestmentStyling:active{
    background-color: slateblue;
}
/*General Sinling selector*/
#InvestType ~ p{
    color: rgb(186, 14, 238);
}